<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hansol.hansolproject.mapper.CompanyMapper">
    <resultMap type="Company" id="companyResultMap">
        <id property="id" column="company_id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="selectAllCompanys" resultMap="companyResultMap">
        SELECT *
        FROM company
        ORDER BY company_id
    </select>

    <select id="selectCompanyById" parameterType="Long" resultMap="companyResultMap">
        SELECT *
        FROM company
        WHERE company_id = #{id}
    </select>

    <insert id="insertCompany" parameterType="Company" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO company (name)
        VALUES (#{name})
    </insert>

    <update id="updateCompany" parameterType="Company">
        UPDATE company
        SET name=#{name}
        WHERE company_id=#{id}
        LIMIT 1
    </update>

    <delete id="deleteCompany" parameterType="Long">
        DELETE FROM company
        WHERE company_id=#{id}
        LIMIT 1
    </delete>

</mapper>